.col {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.col {
  display: 33.33%;
  padding: 5px;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
